<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head', {}); %>
</head>
<body>
    <%- include('header', {select: 0, projectName: "Projects"}); %>

    <div class="title">Nouveaux Projet</div>
    <form class="form" action="/projects"  method="post">
        <div class="group">
            <div class="subtitle">Nom</div>
            <input class="elements text" type="text" name="name" id="name">
        </div>
        <div class="group">
            <div class="subtitle">Clé</div>
            <input class="elements text" type="text" name="key" id="key" maxlength="4">
        </div>
        <div class="group">
            <a href="/projects" class="button reject m-2 p-2" id="rejectForm">Annuler</a>
            <input type="submit" class="button valid m-2 p-2" value="Valider" id="validForm">
        </div>
    </form>

    <%- include('footer', {}); %>
</body>
</html>
